---
port: 3000
log_file: dev.log
auth_token_sec_timeout: 1800
auth:
    preferred_method: bcrypt
    method_args: 10
couchdb:
    username: username
    password: password
    base_url: http://localhost:5984
    database: jackin
